.buttons {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 4fr);
}

.output-manipulation {
  grid-column: 1/4;
  grid-row: 1;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 3fr);
  align-items: center;
  padding-bottom: 4px;
}
.numbers {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-items: center;
  row-gap: 4px;
}

.arithmetic {
  grid-column: 4;
  grid-row: 1 / 3;
  justify-items: center;
  display: grid;
  row-gap: 4px;
}

.input {
  background-color: hsl(240, 1%, 20%);
  border: none;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;

  font-size: 2rem;
  font-weight: 100;
  transition: background-color 0.25s;
}

.input:hover {
  background-color: hsl(240, 1%, 30%);
}

.input:active {
  background-color: hsl(240, 1%, 40%);
}

.arith {
  background: hsl(41, 56%, 59%);
}

.arith:hover {
  background: hsl(41, 56%, 69%);
}

.arith:active {
  background: hsl(41, 56%, 79%);
}
